
@import url(https://fonts.googleapis.com/css?family=Roboto);
      html, body {
        margin: 0;
        padding: 0;
      }

      body {
        font-family: 'Indie Flower', cursive;
      }

      a#menu svg {

        width: 40px;
        color: #000;
      }

      nav, main {
        overflow: hidden;
        padding: 1em;
        box-sizing: border-box;
      }
      
      h1{
        font-size: 5em;
      }

      .title {
        font-size: 2.5em;
        text-align: center;
        background-color: transparent;
        z-index: 2;
        position: absolute;
        top: 40px;
      }

      .title-img {
        z-index: 1;
        position: absolute;
        right: 10%;
        top: 0px;
      }

      .box {
        min-height: 100px;
      }

      .dark_blue {
        background-color: blue;
        color: #ffffff;
      }

      .slide_show {
        min-height: 300px;
        margin-bottom: 10px;
        background-color: #ffffff;
      }

      .bulletin {
        min-height: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #ffffff;
      }

      .footer {
        margin-top: 10px;
        background-color: blue;
        color: #ffffff;
      }

      .fb-sharing {
        margin-top: 10px;
        margin-bottom: 10px;
        color: #424242;
        background-color: #ffffff;
      }

      .fb-comments {
        margin-top: 10px;
        margin-bottom: 10px;
        color: #424242;
        background-color: #ffffff;
      }

      .videos {
        max-height: 300px;
        overflow: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #ffffff;
      }

      .ads {
        max-height: 300px;
        overflow: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #ffffff;
      }

      .text-underline {
        text-decoration: underline;
      }

      .nav-img{
        height: auto;
        width: 100%;
      }

      #item {
        bottom: 0px;
        height: 300px;
      }
