      @import url(https://fonts.googleapis.com/css?family=Roboto);
      html, body {
        margin: 0;
        padding: 0;
      }

      body {
        font-family: 'Roboto', sans-serif;
      }

      a#menu svg {
        width: 40px;
        fill: #000;
      }

      nav, main {
        padding: 1em;
        box-sizing: border-box;
      }
      
      .title {
        font-size: 2.5em;
        text-align: center;
      }

      .box {
        min-height: 150px;
      }

      .dark_blue {
        background-color: #2A457A;
        color: #efefef;
      }

      .light_blue {
        margin-bottom: 10px;
        background-color: #099DD9;
      }

      .green {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #0C8542;
      }

      .lime {
        margin-top: 10px;
        background-color: rgb(179, 210, 52);
      }

      .seafoam {
        color: white;
        background-color: rgb(77, 190, 161);
      }

      .red {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #EC1D3B;
      }

      .orange {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #F79420;
      }
