      .container {
        display: flex;
        flex-wrap: wrap;
        background-color: #ebebeb;
      }

      .box {
        width: 100%;
      }

      @media screen and (min-width: 450px) {
        .dark_blue {
          margin-bottom: 10px;
          width: 100%;
          order: 0;
          color: #ffffff;
        }

        .light_blue {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 50%;
          order: 1;
          color: grey;
        }

        .green {
          margin-top: 10px;
          margin-bottom: 10px;
          width:50%;
          order: 2;
          color: #424242;
        }

        .lime {
          background-color: blue;
          margin-top: 10px;
          width: 100%;
          order: 7;
          color: #ffffff;
        }

        .seafoam {
          width: 100%;
          order: 4;
          color: #424242;
        }

        .red {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 100%;
          order: 5;
          color: #424242;
        }

        .orange {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 100%;
          order: 6;
          color: #424242;
        }
      }



      @media screen and (min-width: 1020px) {
      	.container {
      	  max-width: 1020px;
      	  margin-left: auto;
      	  margin-right: auto;
      	}
        .dark_blue {
          margin-bottom: 10px;
          width: 100%;
          order: 0;
          color: #ffffff;
        }

        .light_blue {
          margin-top: 10px;
          margin-bottom: 10px;
          max-width: 800px;	
          width: 50%;
          order: 1;
          color: #424242;
        }

        .green {
          margin-top: 10px;
          margin-bottom: 10px;
          max-width: 800px;
          width:50%;
          order: 2;
          color: #424242;
        }

        .lime {
          background-color: blue;
          margin-top: 10px;
          width: 100%;
          order: 7;
          color: #ffffff;
        }

        .seafoam {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 100%;
          order: 4;
          color: #424242;
        }

        .red {
          margin-top: 10px;
          margin-bottom: 10px;
          max-width: 800px;
          width: 60%;
          order: 6;
          color: #424242;
        }

        .orange {
          margin-top: 10px;
          margin-bottom: 10px;
          max-width: 800px;
          width: 40%;
          order: 5;
          color: #424242;
        }
      }