      .container {
        display: flex;
        flex-wrap: wrap;
        background-color: #dedede;
      }

      .box {
        width: 100%;
      }
s
      @media screen and (min-width: 450px) {
        .dark_blue {
          margin-bottom: 10px;
          width: 100%;
          order: 0;
          color: #ffffff;
        }

        .light_blue {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 50%;
          order: 1;
          color: grey;
        }

        .bulletin {
          margin-top: 10px;
          margin-bottom: 10px;
          width:50%;
          order: 2;
          color: #424242;
        }

        .footer {
          background-color: blue;
          margin-top: 10px;
          width: 100%;
          order: 9;
          color: #ffffff;
        }

      .title-img {
        z-index: 1;
        position: absolute;
        right: 30%;
        top: 10px;
      }

        .fb-sharing {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 50%;
          order: 7;
          color: #424242;
        }

        .fb-comments {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 50%;
          order: 8;
          color: #424242;
        }
        .videos {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 100%;
          order: 5;
          color: #424242;
        }

        .ads {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 100%;
          order: 6;
          color: #424242;
        }
      }



      @media screen and (min-width: 1020px) {
      	.container {
      	  max-width: 1020px;
      	  margin-left: auto;
      	  margin-right: auto;
      	}
        .dark_blue {
          margin-bottom: 10px;
          width: 100%;
          order: 0;
          color: #ffffff;
        }

        .slide_show {
          margin-top: 10px;
          margin-bottom: 10px;
          max-width: 800px;	
          width: 50%;
          order: 1;
          color: #424242;
        }

        .bulletin {
          margin-top: 10px;
          margin-bottom: 10px;
          max-width: 800px;
          width:50%;
          order: 2;
          color: #424242;
        }

        .footer {
          background-color: blue;
          margin-top: 10px;
          width: 100%;
          order: 9;
          color: #ffffff;
        }

      .title-img {
        z-index: 1;
        position: absolute;
        right: 30%;
        top: 20px;
      }

        .fb-sharing {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 50%;
          order: 7;
          color: #424242;
        }

        .fb-comments {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 50%;
          order: 8;
          color: #424242;
        }

        .video_section {
          margin-top: 10px;
          margin-bottom: 10px;
          max-width: 800px;
          width: 60%;
          order: 6;
          color: #424242;
        }

        .ads {
          margin-top: 10px;
          margin-bottom: 10px;
          max-width: 800px;
          width: 40%;
          order: 5;
          color: #424242;
        }
      }